html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url(background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: "Times New Roman";
}

#bodyflex {
  display: flex;
  flex-direction: column;
}

#header1 {
  font-size: 130px;
  text-align: center;
  padding: 350px;
  height: 220px;
}

a, a:visited, a:active {
  color: inherit;
}

.topnav {
  background-color: hsl(31, 49%, 90%);
  overflow: hidden;
  opacity: 0.6;
  width: 100%;
}

.topnav a {
  text-align: center;  
  font-size: 40px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ffffff;
}

#floatl {
  float: left;
padding: 13px 16px;
}

#floatr {
  float: right;
padding: 20px 16px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 50px;
  border: none;
  outline: none;
  background-color: #c4b7a6;
  opacity: 0.6;
  color: #4d2800;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#bottom {
  background-color: hsl(31, 49%, 90%);
  overflow:auto;
  text-align: center;
  font-size: 40px;
}

#box1 {
  border-radius: 25px;
  background: #bca48f;
}

#box2 {
  border-radius: 25px;
  background: #a98c70;
}

#box3 {
  border-radius: 25px;
  background: #8f7256;
}

#box4 {
  border-radius: 25px;
  background: #c4b7a6;
}




.flip-card {
  padding: 20px;
  width: 250px;
  height: 200px;
  margin-top: 150px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  transform: rotateY(180deg);
}

#cardlink {
  text-decoration: none;
}

#infotable {
  margin: auto;
  margin-top: 150px;
}

#contable {
  margin: auto;
  margin-top: 60px;
}

table, th,td {
  border: 3px solid;
  border-collapse: collapse;
  border-color: #4d2800;
  padding: 7px;
}

#pagecenter {
  background-color: hsl(31, 49%, 90%);
  overflow: auto;
  text-align: center;
  font-size: 40px;
  flex-grow: 1;
  width: 1300px;
  margin: auto;
}

#sp {
  padding: 30px;
}